/** font of body changed to PT Sherif **/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary-color:#FBBF24;
    --secondary-color:black;
    --white:white;
    --offwhite : #F3F4F6;
}
body{
    margin: 0px;
    /* font-family: 'Montserrat', sans-serif;   */
    font-size: larger;
    font-family: 'Poppins', sans-serif;
}
.navigation{
    /* background-color:var(--primary-color); */
    padding: 1rem;
    padding-left:2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    /* border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; */
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 2.5rem;
    /* display: inline; */
    color: #ff5e00;
}

.navigation .nav-pills{
    text-align: right;
    font-size: 1.3rem;
}

.navigation .link-active{
    font-weight: bold;
    text-decoration:none;
    color: black;
    /* padding-bottom: 10000cm; */
    text-decoration: underline #ff5e00;;
    text-decoration-thickness: 5px ;

}

/* lists */
.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    margin: 0rem 1rem;
}

.container{
    padding-left: 0rem;
    padding-right: 1rem;
    text-align: center;
}
.container-center{
    max-width:800px;
    margin: auto ;
}

.container-left{
    padding-left: 0rem;
    padding-right: 1rem;
    text-align: left;
}

#txt-input{
    display:block; 
    width: 100%; 
    height: 15vh; 
    padding: 1.2rem;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    background-color: var(--offwhite);
    border: none;
    font-size: 1.5rem;
}

#btn-translate{
    background-color: var(--primary-color);
    margin: 1rem 0rem;
    border:none;
    padding:0.9rem;
    font-size: large;
    
}

.left{
    text-align: left;
}
.align-right{
    text-align: right;
}

.float-rgt{
    float: right;
}
#output{
    display: block;
    /* border: 1px solid black; */
    background-color: var(--offwhite);
    border: none;
    width: 100%;
    height: 15vh;
    padding: 1.2rem;
    margin: 1rem 0rem;
    font-size: 1.5rem;
    text-align: left;
    font-size:1.5rem;
}

/* Image */
.img-size{
    width: 500px;
    height: 300px;
}
/* Links */

.link{
    /* background-color: var(--primary-color); */
    text-decoration: none;
    color: #ff5e00;
    /* color: black; */
    
}
.primary-link{
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 0.6rem;
    margin: 1.5rem 1rem 0.8rem 0rem;
    padding:0.5rem 2rem;
    color: black;

}
.secondary-link{
    background-color: rgba(8, 0, 0, 0.849);
    text-decoration: none;
    border-radius: 0.8rem;
    margin: 0rem 0rem 0rem 0rem;
    padding:0.5rem 0.6rem;
    color: white;
    
}
footer{
    background-color:var(--primary-color);
    padding: 1rem;
    padding-left:2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
}

.link-img{
    width:65px;
    height: 65px;

}

table{
    width: 95%;
}

.nav-image{
    position: fixed;
    bottom: 20px;
    right: 30px;
}